/* FONT FACE AVANTGARDE_DEMI */
@font-face {
  font-family: "AvantGarde";
  src: url("./ASSETS/Fonts/Avant_Garde_Demi.otf");
}

/* FONT FACE PROXIMANOVA */
@font-face {
  font-family: "ProximaNova";
  src: url("./ASSETS/Fonts/Proxima_Nova_SemiBold.ttf");
}

/* BODY SECTION STYLING */
html,
body {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  min-height: 100vh;
  background-color: #0d0d0d;
  color: #b7ab98;
  font-family: "AvantGarde", sans-serif;
}
/* CUROSOR ANIMATION STYLING */
.cursor {
  position: fixed;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-left: -25px;
  margin-top: -10px;
  background-color: #eb5939;
  transition: transform 0.2s ease;
  pointer-events: none;
  z-index: 1000;
}
#disableCursor {
  cursor: pointer;
  opacity: 0;
  /* Add other cursor animation styles as needed */
}

/* NAVBAR MENU STYLING */
nav {
  margin: 20px 40px;
}

.navbar .navbar-brand {
  width: 40;
}

.navbar-nav {
  display: block;
  text-align: center;
}

.navbar-nav li {
  margin: -10px 0;
}

.navbar-nav li a {
  font-size: 12px;
  line-height: 15.6px;
  font-family: "ProximaNova", sans-serif;
  font-weight: 700;
  text-align: right;
  color: #80796d;
  padding: -15px 0;
}

.navbar-nav li a:hover {
  color: #b7ab98;
  transition: linear ease-in-out;
}

/* HEADER SECTION STYLING */
header {
  position: relative;
  top: 0px;
  left: 0;
  width: 100%;
  height: 50vh;
  background: #00000000; /* Set your background color */
  overflow: hidden;
}

video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 110%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 1;
}

.social-connect {
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: fixed;
  width: 20px;
  height: 20px;
  top: 60%;
  left: 5%;
  z-index: 1000;
}

.social-connect img {
  width: 20px;
  height: 20px;
  margin: 12px 0;
  transition: transform 0.3s ease-in-out;
}

.content {
  position: absolute;
  top: 58%;
  left: 50%;
  transform: translate(-50%, -55%);
  color: #fff; /* Set your text color */
  text-align: center;
  z-index: 100;
}

.content .hero-name {
  font-family: "AvantGarde";
  font-size: 12px;
  line-height: 16.4px;
  letter-spacing: 5.5px;
  color: #b7ab98;
  font-weight: 600;
}

.content .hero-desc {
  position: relative;
  font-family: "AvantGarde";
  font-size: 85px;
  line-height: 80px;
  letter-spacing: -5.5px;
  color: #b7ab98;
  font-weight: 700;
}

/* END OF HEADER SECTION STYLING */

/* ABOUT SECTION STYLING */

#uidesign .about-name {
  font-family: "AvantGarde", sans-serif;
  font-size: 14px;
  line-height: 25.4px;
  letter-spacing: 5.5px;
  color: #b7ab98;
  font-weight: 600;
  text-transform: uppercase;
}
#uidesign .about-desc {
  font-family: "AvantGarde", sans-serif;
  font-size: 54px;
  line-height: 54.2px;
  letter-spacing: -2.5px;
  /* color: #B7AB98; */
  font-weight: 700;
  transition: color 0.5s ease;
}

/* END OF ABOUT SECTION ELEMENT */

.work-content .work-desc {
  font-family: "AvantGarde";
  font-size: 54px;
  line-height: 63.2px;
  letter-spacing: -2.5px;
  color: #0d0d0d;
  font-weight: 700;
}
.work-btn {
  width: 150px;
  height: 50px;
  border-radius: 30px;
  border: 1px solid #b7ab98;
  background-color: transparent;
  color: #b7ab98;
  margin: 0px 5px;
  font-size: 14px;
  font-weight: 600;
}
.work-btn:hover {
  background-color: #eb5939;
  color: #0d0d0d;
  border: none;
  font-size: 16px;
  font-weight: 600;
}

/* UI DESIGN STYLING */
#uidesign {
  position: relative;
  top: 120px;
  left: 242px;
  max-width: 920px;
}
#my-motto {
  position: relative;
  top: 120px;
  left: 0px;
  max-width: 100%;
  width: 100%;
  height: 70vh;
  background: #242424;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "AvantGrande", sans-serif;
}

#my-motto p {
  font-size: 13px;
  font-weight: 600;
  font-family: "AvantGarde";
  color: #b7ab98;
}
#my-motto h1 {
  font-family: "AvantGarde";
  font-size: 54px;
  line-height: 63.2px;
  letter-spacing: -2.5px;
  color: #b7ab98;
}
/* FOOTER SECTION STYLING */
#footer {
  position: absolute;
  top: 3080px;
  max-width: 100%;
  margin-bottom: 64px;
  margin-left: 100px;
}

#footer .about-name {
  font-family: "AvantGarde";
  font-size: 12px;
  line-height: 16.4px;
  letter-spacing: 5.5px;
  color: #b7ab98;
  font-weight: 600;
  text-transform: uppercase;
}

#footer .about-desc {
  font-family: "AvantGarde";
  font-size: 38px;
  line-height: 36.2px;
  letter-spacing: -2.5px;
  color: #b7ab98;
  font-weight: 700;
}

#footer li {
  list-style: none;
}

#footer li a {
  font-family: "AvantGarde", sans-serif;
  text-decoration: none;
  font-size: 38px;
  line-height: 42.2px;
  letter-spacing: -2.5px;
  color: #b7ab98;
  font-weight: 700;
}

#footer li a:hover {
  width: 220px;
  height: 40px;
  background-color: #eb5939;
  padding: 0px 3px;
}
.connect {
  position: absolute;
  top: 0;
  left: 50px;
}

.links {
  position: absolute;
  top: 0;
  left: 480px;
}

.contact-info {
  position: absolute;
  top: 0;
  left: 850px;
}

.email-head {
  font-size: 13px;
  line-height: 16px;
  font-weight: 600;
  font-family: "AvantGarde", sans-serif;
  letter-spacing: 1.5px;
  margin: 5px 0;
}

.contact-info a {
  text-decoration: none;
  font-size: 12px;
  line-height: 16px;
  font-weight: 600;
  font-family: "AvantGarde", sans-serif;
  letter-spacing: 1.5px;
  margin: 5px 0;
  color: #80796d;
}

.contact {
  position: absolute;
  top: 50px;
  max-width: 350px;
}

.contact-head {
  font-size: 13px;
  line-height: 20px;
  font-weight: 600;
  font-family: "AvantGarde", sans-serif;
  letter-spacing: 1.5px;
  margin: 0 0;
}

.contact a {
  text-decoration: none;
  font-size: 12px;
  line-height: 20px;
  font-weight: 600;
  font-family: "AvantGarde", sans-serif;
  letter-spacing: 1.5px;
  margin: 5px 0;
  color: #80796d;
  width: 100%;
}
